.js__tbox.menubox.nervous#menu1
  .holder
    .menubox-block
      %h2
        %a{:href => "#"} Длинный заголовок на три строчки
      %ul
        %li
          %a{:href => "#"} Пиджаки
        %li
          %a{:href => "#"} Платья
        %li
          %a{:href => "#"} Рубашки
        %li
          %a{:href => "#"} Брюки / шорты
        %li
          %a{:href => "#"} Джинсы
        %li
          %a{:href => "#"} Юбки
        %li
          %a{:href => "#"} Трикотаж
        %li
          %a{:href => "#"} Пальтр
        %li
          %a{:href => "#"} Нижнее бельё
        %li
          %a{:href => "#"} Купальники
    .menubox-block
      %h2
        %a{:href => "#"} Аксессуары
      %ul
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
    .menubox-block
      %h2
        %a{:href => "#"} Featured
      %ul
        %li
          %a{:href => "#"} Новинки
        %li
          %a{:href => "#"} Лукбуки
        %li
          %a{:href => "#"} Скидки
        %li
          %a{:href => "#"} Тренеры
        %li
          %a{:href => "#"} Бестселлеры
      %h2
        %a{:href => "#"} Бренды A-Z
    = partial :promo, :locals => {:image => "#{images_dir}/data/b2.jpg", :text => " ", :framed => true}
.js__tbox.menubox.nervous#menu2
  .holder
    .menubox-block
      %h2
        %a{:href => "#"} Одежда
      %ul
        %li
          %a{:href => "#"} Пиджаки
        %li
          %a{:href => "#"} Платья
        %li
          %a{:href => "#"} Рубашки
        %li
          %a{:href => "#"} Брюки / шорты
        %li
          %a{:href => "#"} Джинсы
        %li
          %a{:href => "#"} Юбки
        %li
          %a{:href => "#"} Трикотаж
        %li
          %a{:href => "#"} Пальтр
        %li
          %a{:href => "#"} Нижнее бельё
        %li
          %a{:href => "#"} Купальники
    .menubox-block
      %h2
        %a{:href => "#"} Аксессуары
      %ul
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
    .menubox-block
      %h2
        %a{:href => "#"} Featured
      %ul
        %li
          %a{:href => "#"} Новинки
        %li
          %a{:href => "#"} Лукбуки
        %li
          %a{:href => "#"} Скидки
        %li
          %a{:href => "#"} Тренеры
        %li
          %a{:href => "#"} Бестселлеры
    .menubox-block
      %h2
        %a{:href => "#"} Одежда
      %ul
        %li
          %a{:href => "#"} Пиджаки
        %li
          %a{:href => "#"} Платья
        %li
          %a{:href => "#"} Рубашки
        %li
          %a{:href => "#"} Брюки / шорты
        %li
          %a{:href => "#"} Джинсы
        %li
          %a{:href => "#"} Юбки
        %li
          %a{:href => "#"} Трикотаж
        %li
          %a{:href => "#"} Пальтр
        %li
          %a{:href => "#"} Нижнее бельё
        %li
          %a{:href => "#"} Купальники
    .menubox-block
      %h2
        %span Аксессуары
      %ul
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
    .menubox-block
      %h2
        %a{:href => "#"} Аксессуары
      %ul
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
.js__tbox.menubox.nervous#menu3
  .holder
    .menubox-block
      %h2
        %a{:href => "#"} Обувь
      %ul
        %li
          %a{:href => "#"} Пиджаки
        %li
          %a{:href => "#"} Платья
        %li
          %a{:href => "#"} Рубашки
        %li
          %a{:href => "#"} Брюки / шорты
        %li
          %a{:href => "#"} Джинсы
        %li
          %a{:href => "#"} Юбки
        %li
          %a{:href => "#"} Трикотаж
        %li
          %a{:href => "#"} Пальтр
        %li
          %a{:href => "#"} Нижнее бельё
        %li
          %a{:href => "#"} Купальники
    .menubox-block
      %h2
        %a{:href => "#"} Аксессуары
      %ul
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
    .menubox-block
      %h2
        %a{:href => "#"} Featured
      %ul
        %li
          %a{:href => "#"} Новинки
        %li
          %a{:href => "#"} Лукбуки
        %li
          %a{:href => "#"} Скидки
        %li
          %a{:href => "#"} Тренеры
        %li
          %a{:href => "#"} Бестселлеры
.js__tbox.menubox.nervous#menu4
  .holder
    .menubox-block
      %h2
        %a{:href => "#"} Сумки
      %ul
        %li
          %a{:href => "#"} Пиджаки
        %li
          %a{:href => "#"} Платья
        %li
          %a{:href => "#"} Рубашки
        %li
          %a{:href => "#"} Брюки / шорты
        %li
          %a{:href => "#"} Джинсы
        %li
          %a{:href => "#"} Юбки
        %li
          %a{:href => "#"} Трикотаж
        %li
          %a{:href => "#"} Пальтр
        %li
          %a{:href => "#"} Нижнее бельё
        %li
          %a{:href => "#"} Купальники
    .menubox-block
      %h2
        %a{:href => "#"} Аксессуары
      %ul
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
    .menubox-block
      %h2
        %a{:href => "#"} Featured
      %ul
        %li
          %a{:href => "#"} Новинки
        %li
          %a{:href => "#"} Лукбуки
        %li
          %a{:href => "#"} Скидки
        %li
          %a{:href => "#"} Тренеры
        %li
          %a{:href => "#"} Бестселлеры
    = partial :promo, :locals => {:image => "#{images_dir}/data/b2.jpg", :text => " ", :framed => true}
.js__tbox.menubox.nervous#menu5
  .holder
    .menubox-block
      %h2
        %a{:href => "#"} Аксессуары
      %ul
        %li
          %a{:href => "#"} Пиджаки
        %li
          %a{:href => "#"} Платья
        %li
          %a{:href => "#"} Рубашки
        %li
          %a{:href => "#"} Брюки / шорты
        %li
          %a{:href => "#"} Джинсы
        %li
          %a{:href => "#"} Юбки
        %li
          %a{:href => "#"} Трикотаж
        %li
          %a{:href => "#"} Пальтр
        %li
          %a{:href => "#"} Нижнее бельё
        %li
          %a{:href => "#"} Купальники
    .menubox-block
      %h2
        %a{:href => "#"} Аксессуары
      %ul
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
    = partial :promo, :locals => {:image => "#{images_dir}/data/b2.jpg", :text => " ", :framed => true}
    .menubox-block
      %h2
        %a{:href => "#"} Featured
      %ul
        %li
          %a{:href => "#"} Новинки
        %li
          %a{:href => "#"} Лукбуки
        %li
          %a{:href => "#"} Скидки
        %li
          %a{:href => "#"} Тренеры
        %li
          %a{:href => "#"} Бестселлеры
.js__tbox.menubox.nervous#menu6
  .holder
    .menubox-block
      %h2
        %a{:href => "#"} Sale
      %ul
        %li
          %a{:href => "#"} Пиджаки
        %li
          %a{:href => "#"} Платья
        %li
          %a{:href => "#"} Рубашки
        %li
          %a{:href => "#"} Брюки / шорты
        %li
          %a{:href => "#"} Джинсы
        %li
          %a{:href => "#"} Юбки
        %li
          %a{:href => "#"} Трикотаж
        %li
          %a{:href => "#"} Пальтр
        %li
          %a{:href => "#"} Нижнее бельё
        %li
          %a{:href => "#"} Купальники
    .menubox-block
      %h2
        %a{:href => "#"} Аксессуары
      %ul
        %li
          %a{:href => "#"} Сумки
        %li
          %a{:href => "#"} Кошельки
        %li
          %a{:href => "#"} Ремни
        %li
          %a{:href => "#"} Шарфы
        %li
          %a{:href => "#"} Шапки
        %li
          %a{:href => "#"} Носки
        %li
          %a{:href => "#"} Часы
        %li
          %a{:href => "#"} Драгоценности
        %li
          %a{:href => "#"} Солнечные очки
        %li
          %a{:href => "#"} Парфюмерия
    .menubox-block
      %h2
        %a{:href => "#"} Featured
      %ul
        %li
          %a{:href => "#"} Новинки
        %li
          %a{:href => "#"} Лукбуки
        %li
          %a{:href => "#"} Скидки
        %li
          %a{:href => "#"} Тренеры
        %li
          %a{:href => "#"} Бестселлеры
    = partial :promo, :locals => {:image => "#{images_dir}/data/b2.jpg", :text => " ", :framed => true}
