.js__tbox.js__noscroll.searchbox.nervous#search
  .searcher
    .holder
      %form.searcher-form.js__searchform.js__form{:action => "/", :class => data.page.search}
        %input.input.js__searchform-input{:type => "text", :placeholder => "Что вы ищете?"}/
        %button.searcher-button{:type => "submit"}
        / %a.searcher-clearer.js__searchform-clearer{:href => "#"}
    %a.searcher-closer.js__supercloser{:href => "#"}
  .search-results.js__search
    .holder
      .search-list.scroll
        %a.sitem{:href => "item.html"}
          %span.item-image
            %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
          %span.item-info
            %span.item-name CYRILLE GASSILINE
            %span.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
            %span.item-price 6.200 р.
        %a.sitem{:href => "item.html"}
          %span.item-image
            %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
          %span.item-info
            %span.item-name CYRILLE GASSILINE
            %span.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
            %span.item-price 6.200 р.
        %a.sitem.sitem_alt{:href => "item.html"}
          %span.item-image
            %img{:src => "#{images_dir}/data/ca.jpg", :alt => ""}/
          %span.item-info
            %span.item-name CYRILLE GASSILINE
            %span.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
            %span.item-price 6.200 р.
        %a.sitem.sitem_alt.sitem_noimage{:href => "item.html"}
          %span.item-info
            %span.item-name О компании
            %span.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами и еще немного текста чтобы показать как он себя ведет...
        %a.sitem{:href => "item.html"}
          %span.item-image
            %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
          %span.item-info
            %span.item-name CYRILLE GASSILINE
            %span.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
            %span.item-price 6.200 р.
        %a.sitem.sitem_hidden{:href => "item.html"}
          %span.item-image
            %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
          %span.item-info
            %span.item-name CYRILLE GASSILINE
            %span.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
            %span.item-price 6.200 р.
        %a.sitem.sitem_hidden{:href => "item.html"}
          %span.item-image
            %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
          %span.item-info
            %span.item-name CYRILLE GASSILINE
            %span.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
            %span.item-price 6.200 р.
        %a.sitem.search-results-expander.js__search-expander{:href => "#"}
          все результаты
          %br/
          (135)
        .sitems-hidden
          .sitem
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem.sitem_alt
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/ca.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem.sitem_alt
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/ca.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
          .sitem
            %a.item-image{:href => "item.html"}
              %img{:src => "#{images_dir}/data/cs.jpg", :alt => ""}/
            .item-info
              .item-name
                %a{:href => "item.html"} CYRILLE GASSILINE
              %p.item-desc <strong>Платье</strong>-рубашка в пол черного цвета с прозрачными рукавами
              .item-price
                6.200 р.
