.js__slider
  .js__slider-limiter
    .js__slider-nav.js__slider-nav_prev.is__disabled
    .js__slider-nav.js__slider-nav_next
    .js__slider-clip
      .js__slider-list
        .js__slider-item= partial :product, :locals => {:id => 3, :name => "Lena by Lena Vasilyeva", :desc => "Неоприновое платье с розой", :price => "18.900 р."}
        .js__slider-item= partial :product, :locals => {:id => 5, :name => "LES'", :desc => "Платье с цветочным принтом", :price => "18.900 р."}
        .js__slider-item= partial :product, :locals => {:id => 6, :name => "Ready-to-Wear", :desc => "Ассиметричное серое платье", :price => "12.500 р."}
        .js__slider-item= partial :product, :locals => {:id => 6, :name => "LES'", :desc => "Платье с цветочным принтом", :price => "13.300 р."}
        .js__slider-item= partial :product, :locals => {:id => 7, :name => "White By Vera Wang", :desc => "Черное платье с принтом", :price => "65.400 р."}
        .js__slider-item= partial :product, :locals => {:id => 4, :name => "Helmut Lang", :desc => "Синее шелковое платье в горох", :price => "19.200 р."}
