
.side.sidebox.js__tbox#sidemenu= partial :"sides/magazine", :locals => {:page => "media"}

.cntnt
  .cntnt-holder
    %h1.media-header Пресса о нас
    .media
      .media-block.js__gallery
        .media-source
          %img{:src => "#{images_dir}/data/m1.png", :alt => ""}/
        %ul.media-list
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Вещи недели: 13 ярких свитеров
              %span.media-item-date  8 июля
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title 10 брюк с яркими принтами
              %span.media-item-date 2 июля

      .media-block
        .media-source
          %img{:src => "#{images_dir}/data/m2.png", :alt => ""}/
        %ul.media-list
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Журнал Harpers Bazaar
              %span.media-item-date декабрь 2012

      .media-block
        .media-source
          %img{:src => "#{images_dir}/data/m3.png", :alt => ""}/
        %ul.media-list
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Журнал Grazia
              %span.media-item-date декабрь 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Журнал Grazia
              %span.media-item-date ноябрь 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Журнал Grazia
              %span.media-item-date октябрь 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Журнал Grazia
              %span.media-item-date сентябрь 2012
        %a.outlink{:href => "#"} показать еще

      .media-block
        .media-source
          %img{:src => "#{images_dir}/data/m4.png", :alt => ""}/
        %ul.media-list
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Большой Город
              %span.media-item-date сентябрь 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title 10 брюк с яркими принтами
              %span.media-item-date 2 сентября 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title 10 dresses
              %span.media-item-date 1 сентября 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title 10 тенденций лета
              %span.media-item-date сентябрь 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Большой Город
              %span.media-item-date сентябрь 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title 10 брюк с яркими принтами
              %span.media-item-date 2 сентября 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title 10 dresses
              %span.media-item-date 1 сентября 2012
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title 10 тенденций лета
              %span.media-item-date сентябрь 2012

      .media-block
        .media-source
          %img{:src => "#{images_dir}/data/m5.png", :alt => ""}/
        %ul.media-list
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Вещи недели: 10 брюк с яркими принтами
              %span.media-item-date 5 февраля 2011
          %li.media-item
            %a{:href => "#"}
              %span.media-item-title Вещи недели: блейзеры
              %span.media-item-date 2 января 2011
