%a.side-title.js__toggler-click{:href => "#", :"data-toggle" => "#sidemenu", :"data-event" => "moveHeader"} Список
.side.sidebox.js__tbox#sidemenu= partial :"sides/magazine", :locals => {:page => "trends"}
.cntnt
  .cntnt-holder.trends
    %h1
      Тренды
      %sup (5)
    .trends-list
      .trend
        .trend-desc
          %h2 minimal fashion style
          %p Many people look at an outfit of traditional African clothes and may not realize the cultural importance that they have. There is a lot of history that is woven into garments made of traditional African textiles.
        .trend-images
          .trend-img.trend-img_1
            %img{:src => "#{images_dir}/data/t11.jpg", :alt => ""}/
          .trend-img.trend-img_2
            %img{:src => "#{images_dir}/data/t12.jpg", :alt => ""}/
          .trend-img.trend-img_3
            %img{:src => "#{images_dir}/data/t13.jpg", :alt => ""}/
          .trend-img.trend-img_4
            %img{:src => "#{images_dir}/data/t14.jpg", :alt => ""}/
          .trend-img.trend-img_5
            %img{:src => "#{images_dir}/data/t15.jpg", :alt => ""}/

      .trend
        .trend-desc
          %h2 summer fashion style
          %p Many people look at an outfit of traditional African clothes and may not realize the cultural importance that they have. There is a lot of history that is woven into garments made of traditional African textiles.
        .trend-images
          .trend-img.trend-img_1
            %img{:src => "#{images_dir}/data/t21.jpg", :alt => ""}/
          .trend-img.trend-img_2
            %img{:src => "#{images_dir}/data/t22.jpg", :alt => ""}/
          .trend-img.trend-img_3
            %img{:src => "#{images_dir}/data/t23.jpg", :alt => ""}/
          .trend-img.trend-img_4
            %img{:src => "#{images_dir}/data/t24.jpg", :alt => ""}/
          .trend-img.trend-img_5
            %img{:src => "#{images_dir}/data/t25.jpg", :alt => ""}/
